body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="checkbox"] {
  appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 120px;
  height: 60px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 40px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
  background: #fff;
  box-shadow: 0 0 0 1200px #092c3e;
}

.check:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
  box-shadow: inset 10px -10px 0 0 #fff;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before {
  background: #f28c38;
  transform: translateX(calc(120px - 6px - 48px));
  left: 0;
  box-shadow: none;
}
